In [43]:
import pandas as pd
import fastparquet

In [44]:
df_weather = pd.read_csv('../../data/weather_hourly_philadelphia.csv')

In [45]:
df_weather.isna().sum()

date_time    63
max_temp     63
min_temp     63
precip       63
dtype: int64

In [46]:
df_weather = df_weather[df_weather['date_time'].notna()]

In [47]:
df_weather.isna().sum()

date_time    0
max_temp     0
min_temp     0
precip       0
dtype: int64

In [48]:
df_weather['date_time'] = pd.to_datetime(df_weather['date_time'])

In [49]:
datetime_format = '%d.%m.%Y %H:%M:%S'
print(f"Earliest observation: {format(df_weather['date_time'].min(), datetime_format)}")
print(f"Latest observation: {format(df_weather['date_time'].max(), datetime_format)}")

Earliest observation: 01.01.2015 06:00:00
Latest observation: 02.01.2020 05:00:00

In [50]:
df_weather = df_weather[
    (df_weather["date_time"] >= "2016-01-01 00:00:00")
    & (df_weather["date_time"] <= "2016-12-31 23:59:59")
    ]

In [51]:
# check whether there are duplicate entries
df_weather[df_weather.duplicated('date_time') ].sort_index().head()

               date_time  max_temp  min_temp  precip
8906 2016-01-08 02:00:00       4.4       3.3     0.0
8917 2016-01-07 13:00:00       2.2       1.1     0.0
8919 2016-01-07 15:00:00       4.4       3.9     0.0
8923 2016-01-07 19:00:00       7.2       7.2     0.0
8925 2016-01-07 21:00:00       7.2       6.7     0.0

In [52]:
df_weather = df_weather.groupby('date_time').agg({'max_temp': 'mean', 'min_temp': 'mean', 'precip': 'max'})

In [53]:
df_weather.to_parquet("../../data/weather_hourly_philadelphia_cleaned.parquet")