In [ ]:
import pandas as pd
import seaborn as sns

In [3]:
df_trips = pd.read_csv("../../data/philadelphia_2016.csv")

In [4]:
df_trips

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,end_station_name,start_station_name
0,1/1/2016 0:04,1/1/2016 0:14,3046.0,3041,3564,Indego30,"Girard Station, MFL",2nd & Market
1,1/1/2016 0:07,1/1/2016 0:29,3028.0,3019,2629,Indego30,6th & Race,4th & Bainbridge
2,1/1/2016 0:14,1/1/2016 0:27,3007.0,3066,3430,Indego30,19th & Lombard,"11th & Pine, Kahn Park"
3,1/1/2016 0:20,1/1/2016 0:42,3005.0,3064,3351,Walk-up,"18th & Washington, Chew Playground","Welcome Park, NPS"
4,1/1/2016 0:20,1/1/2016 0:30,3045.0,3028,3715,Indego30,4th & Bainbridge,13th & Locust
...,...,...,...,...,...,...,...,...
655053,12/31/2016 23:35,12/31/2016 23:39,3010.0,3007,3535,Indego30,"11th & Pine, Kahn Park",15th & Spruce
655054,12/31/2016 23:40,12/31/2016 23:46,3040.0,3115,5395,Indego30,"19th & Girard, PTTI",17th & Spring Garden
655055,12/31/2016 23:45,12/31/2016 23:50,3069.0,3007,11040,Indego30,"11th & Pine, Kahn Park",4th & Christian
655056,12/31/2016 23:47,1/1/2017 0:12,3007.0,3007,3535,Indego30,"11th & Pine, Kahn Park","11th & Pine, Kahn Park"
655057,12/31/2016 23:55,1/1/2017 0:20,3069.0,3069,3372,Indego30,4th & Christian,4th & Christian