In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import fastparquet

In [2]:
df_weather = pd.read_parquet('../../data/weather_hourly_philadelphia_cleaned.parquet')
df_weather.head()

                     max_temp  min_temp  precip
date_time
2016-01-01 00:00:00       6.7       6.7     0.0
2016-01-01 01:00:00       7.2       7.2     0.0
2016-01-01 02:00:00       6.7       6.7     0.0
2016-01-01 03:00:00       6.7       6.7     0.0
2016-01-01 04:00:00       6.1       6.1     0.0

In [3]:
df_bike_trips = pd.read_parquet('../../data/bike_trips_cleaned.parquet')
df_bike_trips.head()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,end_station_name,start_station_name,duration,start_lat,start_lon,end_lat,end_lon,distance,speed,average_time,max_temp,min_temp,precip
index,,,,,,,,,,,,,,,,,,,
0,2016-01-01 00:04:00,2016-01-01 00:14:00,3046,3041,3564,Indego30,"Girard Station, MFL",2nd & Market,0 days 00:10:00,39.949895,-75.143749,39.969241,-75.136180,1.005648,6.033888,2016-01-01 00:09:00,6.7,6.7,0.0
1,2016-01-01 00:07:00,2016-01-01 00:29:00,3028,3019,2629,Indego30,6th & Race,4th & Bainbridge,0 days 00:22:00,39.940735,-75.149370,39.954694,-75.149496,0.397798,1.084905,2016-01-01 00:18:00,6.7,6.7,0.0
2,2016-01-01 00:14:00,2016-01-01 00:27:00,3007,3066,3430,Indego30,19th & Lombard,"11th & Pine, Kahn Park",0 days 00:13:00,39.945123,-75.159952,39.945664,-75.173272,1.480278,6.832050,2016-01-01 00:20:30,6.7,6.7,0.0
3,2016-01-01 00:20:00,2016-01-01 00:30:00,3045,3028,3715,Indego30,4th & Bainbridge,13th & Locust,0 days 00:10:00,39.947947,-75.162361,39.940735,-75.149370,1.458133,8.748797,2016-01-01 00:25:00,6.7,6.7,0.0
4,2016-01-01 00:20:00,2016-01-01 00:42:00,3005,3064,3351,Walk-up,"18th & Washington, Chew Playground","Welcome Park, NPS",0 days 00:22:00,39.947383,-75.144145,39.938280,-75.173873,3.313616,9.037136,2016-01-01 00:31:00,7.2,7.2,0.0

In [4]:
## next few cells need to be moved into the bike_trips notebook at some point because we want to have readable datetimes everywhere 
## not just in this notebook

df_bike_trips['start_time'] = pd.to_datetime(df_bike_trips['start_time'])
df_bike_trips['end_time'] = pd.to_datetime(df_bike_trips['end_time'])

In [25]:
datetime_format = '%d.%m.%Y %H:%M:%S'
print(f"Earliest start observation: {format(df_bike_trips['start_time'].min(), datetime_format)}")
print(f"Latest start observation: {format(df_bike_trips['start_time'].max(), datetime_format)}")

print(f"Earliest end observation: {format(df_bike_trips['end_time'].min(), datetime_format)}")
print(f"Latest end observation: {format(df_bike_trips['end_time'].max(), datetime_format)}")

Earliest start observation: 01.01.2016 00:04:00
Latest start observation: 31.12.2016 23:55:00
Earliest end observation: 01.01.2016 00:14:00
Latest end observation: 01.01.2017 08:04:00

In [31]:
df_bike_trips = df_bike_trips[
    (df_bike_trips["start_time"] >= "2016-01-01 00:00:00")
    & (df_bike_trips["start_time"] <= "2016-12-31 23:59:59")
    ]

df_bike_trips = df_bike_trips[
    (df_bike_trips["end_time"] >= "2016-01-01 00:00:00")
    & (df_bike_trips["end_time"] <= "2016-12-31 23:59:59")
    ]

In [32]:
df_bike_trips.head()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,end_station_name,start_station_name,duration,start_lat,start_lon,end_lat,end_lon,distance,speed,average_time,date_time,max_temp,min_temp,precip
index,,,,,,,,,,,,,,,,,,,,
0,2016-01-01 00:04:00,2016-01-01 00:14:00,3046,3041,3564,Indego30,"Girard Station, MFL",2nd & Market,0 days 00:10:00,39.949895,-75.143749,39.969241,-75.136180,1.005648,6.033888,1451606940000000000,1451606400000000000,6.7,6.7,0.0
1,2016-01-01 00:07:00,2016-01-01 00:29:00,3028,3019,2629,Indego30,6th & Race,4th & Bainbridge,0 days 00:22:00,39.940735,-75.149370,39.954694,-75.149496,0.397798,1.084905,1451607480000000000,1451606400000000000,6.7,6.7,0.0
2,2016-01-01 00:14:00,2016-01-01 00:27:00,3007,3066,3430,Indego30,19th & Lombard,"11th & Pine, Kahn Park",0 days 00:13:00,39.945123,-75.159952,39.945664,-75.173272,1.480278,6.832050,1451607630000000000,1451606400000000000,6.7,6.7,0.0
3,2016-01-01 00:20:00,2016-01-01 00:30:00,3045,3028,3715,Indego30,4th & Bainbridge,13th & Locust,0 days 00:10:00,39.947947,-75.162361,39.940735,-75.149370,1.458133,8.748797,1451607900000000000,1451606400000000000,6.7,6.7,0.0
4,2016-01-01 00:20:00,2016-01-01 00:42:00,3005,3064,3351,Walk-up,"18th & Washington, Chew Playground","Welcome Park, NPS",0 days 00:22:00,39.947383,-75.144145,39.938280,-75.173873,3.313616,9.037136,1451608260000000000,1451610000000000000,7.2,7.2,0.0

In [14]:
df_stations = pd.read_parquet('../../data/stations.parquet')
df_stations.head()

         lat        lon                                          name    id
0  39.962380 -75.161712  Spring Garden Station, BSL, Philadelphia, PA  3059
1  39.942987 -75.160208                11th & South, Philadelphia, PA  3101
2  39.979946 -75.155375           13th & Montgomery, Philadelphia, PA  3031
3  39.941168 -75.145552                 2nd & South, Philadelphia, PA  3026
4  39.956799 -75.182270  Amtrak 30th Street Station, Philadelphia, PA  3022

# Feature Selection

In [35]:
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso

# Feature Correlation

In [33]:
# calculate correlation coefficient
#...df.corr()
df_bike_trips.corr()

,start_station_id,end_station_id,bike_id,start_lat,start_lon,end_lat,end_lon,distance,speed,average_time,date_time,max_temp,min_temp,precip
start_station_id,1.000000,0.108261,0.029194,0.168961,0.034938,0.114619,0.014730,-0.005325,-0.070397,0.106688,0.106689,0.034449,0.034571,-0.013399
end_station_id,0.108261,1.000000,0.027922,0.108405,0.013712,0.147622,0.043569,-0.006466,-0.076651,0.103844,0.103843,0.096201,0.096281,-0.013489
bike_id,0.029194,0.027922,1.000000,0.008695,-0.001899,0.011768,-0.008436,0.009741,0.012062,0.221623,0.221623,0.043623,0.043687,-0.004299
start_lat,0.168961,0.108405,0.008695,1.000000,-0.049303,0.429804,-0.032434,0.061056,-0.008581,0.035268,0.035268,0.030345,0.030226,-0.002143
start_lon,0.034938,0.013712,-0.001899,-0.049303,1.000000,-0.027059,0.428519,-0.113143,-0.165856,-0.031072,-0.031073,0.005070,0.005124,-0.007147
end_lat,0.114619,0.147622,0.011768,0.429804,-0.027059,1.000000,-0.056417,0.044053,-0.016129,0.034549,0.034549,0.001509,0.001521,-0.002518
end_lon,0.014730,0.043569,-0.008436,-0.032434,0.428519,-0.056417,1.000000,-0.052771,-0.105225,-0.036821,-0.036822,0.017926,0.017857,-0.006492
distance,-0.005325,-0.006466,0.009741,0.061056,-0.113143,0.044053,-0.052771,1.000000,0.627001,0.032412,0.032413,0.003480,0.003605,-0.003765
speed,-0.070397,-0.076651,0.012062,-0.008581,-0.165856,-0.016129,-0.105225,0.627001,1.000000,0.041507,0.041507,-0.054147,-0.054062,0.015705
average_time,0.106688,0.103844,0.221623,0.035268,-0.031072,0.034549,-0.036821,0.032412,0.041507,1.000000,1.000000,0.052531,0.053018,-0.039927
date_time,0.106689,0.103843,0.221623,0.035268,-0.031073,0.034549,-0.036822,0.032413,0.041507,1.000000,1.000000,0.052532,0.053019,-0.039931
max_temp,0.034449,0.096201,0.043623,0.030345,0.005070,0.001509,0.017926,0.003480,-0.054147,0.052531,0.052532,1.000000,0.999563,-0.087743
min_temp,0.034571,0.096281,0.043687,0.030226,0.005124,0.001521,0.017857,0.003605,-0.054062,0.053018,0.053019,0.999563,1.000000,-0.094393
precip,-0.013399,-0.013489,-0.004299,-0.002143,-0.007147,-0.002518,-0.006492,-0.003765,0.015705,-0.039927,-0.039931,-0.087743,-0.094393,1.000000

In [36]:
## print stuff not working yet not sure why (should prolly change variable names etc)

for id_1, variable in enumerate(df_bike_trips.columns):
    for id_2, comp_variable in enumerate(df_bike_trips.columns):
        if id_1 < id_2:
            corrcoeff = np.corrcoef(
                [
                    df_bike_trips[variable].astype("float64"),
                    df_bike_trips[comp_variable].astype("float64"),
                ]
            )[0][1]
            if corrcoeff > 0.7:
                print(variable, comp_variable, corrcoeff)

TypeError: Cannot cast DatetimeArray to dtype float64